.conoce{
    text-align: center;
}

.texto1{
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: bold;
    top: 35%;
    left: 40%;
}

.texto2{
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: bold;
    top: 90%;
    left: 40%;
}

.texto3{
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: bold;
    top: 145%;
    left: 40%;
}
