.text1 {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: bold;
    top: 35%;
    left: 50%;
}

.text2 {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: bold;
    top: 100%;
    left: 50%;
}

.text3 {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: bold;
    top: 170%;
    left: 50%;
}

