@media screen and (max-width:1139px) {
    .Productos {
        grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px;
        grid-template-columns: 350px 350px;
        grid-template-areas:
            "uno dos"  
            "tres cuatro"
            "cinco seis"
            "siete ocho"
            "nueve diez"
            "once doce" 
            "trece catorce"
            "quince dieciseis"
            "diecisiete dieciocho"
            "diecinueve veinte"
        ;
    }
}
